<div class="row">
  <div class="col col-md-12 col-lg-12">
    <h2>Item List</h2>
  </div>
</div>

<div class="mx-5 my-5">
  <div class="row form-group">
    <div class="col col-lg-12">
      <button class="btn btn-info btn-sm" (click)="AddRecordModal()" [disabled]="updateIndex > -1 ? true : false"><i
          class="fa fa-plus"></i>&nbsp; Add</button>&nbsp;
      <button class="btn btn-danger btn-sm pull-right" (click)="deleteAll()"
        [disabled]="updateIndex > -1 ? true : false"><i class="fa fa-trash"></i>&nbsp;Delete
        All</button>
    </div>
  </div>

  <form [formGroup]="itemForm">
    <div class="table-responsive">
      <table class="table table-bordered table-striped ">
        <tr>
          <th colspan="12" style="text-align: center">
            <h6>ITEM LIST</h6>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Item Name</th>
          <th>Rate</th>
          <th>Actions</th>
        </tr>
        <tbody>
          <tr *ngFor="let tabledata of lstItemData; let i=index">
            <ng-container *ngIf="updateIndex != i; else elseTemplate">
              <td><input type="checkbox" [disabled]="isdisabled" [checked]=tabledata.isselect></td>
              <td>{{ tabledata.iname  }}</td>
              <td>{{ tabledata.rate  | number:'2.2-2'}}</td>
              <td>
                <button type="button" class="btn btn-success btn-sm mx-2" (click)="editRecord(i, tabledata.id)"
                  [disabled]="updateIndex > -1 ? true : false"><i class="fa fa-edit"></i></button>

                <button class="btn btn-danger btn-sm" [disabled]="updateIndex > -1 ? true : false"
                  (click)="DeleteRecord(tabledata.id )"><i class="fa fa-trash"></i></button>
              </td>
            </ng-container>
            <ng-template #elseTemplate>
              <td><input type="text" class="form-control" [(ngModel)]="tabledata.iname" formControlName="iname">
                <span class="text-danger"
                  *ngIf="itemForm.get('iname').hasError('required') && itemForm.get('iname').touched ">
                  Item Name is required
                </span>

                <span class="text-danger"
                  *ngIf="itemForm.get('iname').hasError('pattern') && itemForm.get('iname').touched">
                  Not allow digit
                </span>
              </td>

              <td><input type="text" class="form-control" [(ngModel)]="tabledata.rate" formControlName="rate">
                <span class="text-danger"
                  *ngIf="itemForm.get('rate').hasError('required') && itemForm.get('rate').touched">
                  Rate is required
                </span>
                <span class="text-danger"
                  *ngIf="itemForm.get('rate').hasError('pattern') && itemForm.get('rate').touched">
                  Rate is Invalid
                </span>
              </td>

              <td>
                <button class="btn btn-dark  btn-sm" (click)="saveChange(i)"> <i class="fa fa-save"></i> </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-warning btn-sm " (click)="cancelEdit(i)"><i
                    class="fa fa-times"></i></button>
              </td>

            </ng-template>
          </tr>

          <tr *ngIf="lstItemData?.length == 0">
            <td colspan="12">
              No Record found
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Modal fade -->
      <div class="modal fade" #addRecord="bs-modal" bsModal role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Record</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                <span aria-hidden="true" class="text-white">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col col-lg-12 col-md-12">
                  <div class="form-group">
                    <label for="name"><b>Item Name</b></label>
                    <input class="form-control" formControlName="iname" type="text">
                    <span class="text-danger"
                      *ngIf="itemForm.get('iname').hasError('required') && itemForm.get('iname').touched ">
                      Item Name is required
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-lg-12 col-md-12">
                  <div class="form-group">
                    <label for="dob"><b>Rate</b></label>
                    <input class="form-control " formControlName="rate" type="number">
                    <span class="text-danger"
                      *ngIf="itemForm.get('rate').hasError('required') && itemForm.get('rate').touched ">
                      Rate is required
                    </span>
                    <span class="text-danger"
                      *ngIf="itemForm.get('rate').hasError('pattern') && itemForm.get('rate').touched ">
                      Enter Valid Rate
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger float-left btn-sm" (click)="close()">Close</button>
              <button class="btn btn-primary btn-sm" (click)="add_Record()">Save</button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal end -->
    </div>
  </form>
</div>



<!-- <app-child [val]="val"></app-child>
<div class="offset-md-3 col-md-8">
  <button class="btn btn-sucess" (click)="increment()">click hear</button>
</div> -->